/* Custom CSS Settings
-------------------------*/
.logosmall {
    background: url([[setting:logosmall]]) no-repeat;
    display: block;
    float:right;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 150px;
}

/* Page */
body {padding-top: 100px;}
@media (max-width: 979px){
    body {padding-top: 0;}
}
#page-header {margin-bottom:0;}
.logosmall {width:0;height:0}


/* Logo */
.navbar .brand img {max-width:400px;}
@media (max-width: 979px){
    .navbar .brand {width:100%;}
    .navbar .brand img {max-width:100%;}
}

/* Navbar */
.navbar-inner {background-color: #FFFFFF;background-image: linear-gradient(to bottom, #FFFFFF, #EEEEEE);}
@media (min-width: 980px){
    .nav-collapse.collapse {top: 40px;}
}
@media (max-width: 979px){
    .navbar .btn-navbar {float:left;}
}

/* Profile */
.usermenu {margin-top: 40px;}
@media (max-width: 979px) {
.usermenu {margin-top: 0;clear: right;}
}
.jsenabled .usermenu .moodle-actionmenu.show .menu a:hover{
    background-color: #004279;
    background-image: -moz-linear-gradient(top, #4390D0,#004279);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4390D0), to(#004279));
    background-image: -webkit-linear-gradient(top, #4390D0,#004279);
    background-image: -o-linear-gradient(top, #4390D0,#004279);
    background-image: linear-gradient(to bottom, #4390D0,#004279);
}
/* Breadcrumb */
.breadcrumb li {background:#004279; background:linear-gradient(#4390D0,#004279)}
.breadcrumb li:after {
  background: #004279; 
  background: linear-gradient(135deg, #4390D0,#004279);
  box-shadow: 2px -2px 0 2px rgba(0,173,238,0.2), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
  transform: scale(0.707) rotate(45deg);
  -webkit-transform: scale(0.707) rotate(45deg);}
.breadcrumb li.active, .breadcrumb li:hover {background:#4390D0; background:linear-gradient(#004279,#4390D0)}
.breadcrumb li.active:after, .breadcrumb li:hover:after {background: #4390D0; background: linear-gradient(135deg, #004279,#4390D0);}

/* Buttons */
input.form-submit, input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input {
    background-color: #004279;
    background-image: -moz-linear-gradient(top, #4390D0,#004279);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4390D0), to(#004279));
    background-image: -webkit-linear-gradient(top, #4390D0,#004279);
    background-image: -o-linear-gradient(top, #4390D0,#004279);
    background-image: linear-gradient(to bottom, #4390D0,#004279);
}
input.form-submit:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, input.form-submit:focus, input#id_submitbutton:focus, input#id_submitbutton2:focus, .path-admin .buttons input[type="submit"]:focus, td.submit input:focus, input.form-submit:active, input#id_submitbutton:active, input#id_submitbutton2:active, .path-admin .buttons input[type="submit"]:active, td.submit input:active, input.form-submit.active, input#id_submitbutton.active, input#id_submitbutton2.active, .path-admin .buttons input[type="submit"].active, td.submit input.active, input.form-submit.disabled, input#id_submitbutton.disabled, input#id_submitbutton2.disabled, .path-admin .buttons input[type="submit"].disabled, td.submit input.disabled, input.form-submit[disabled], input#id_submitbutton[disabled], input#id_submitbutton2[disabled], .path-admin .buttons input[type="submit"][disabled], td.submit input[disabled]
{background-color: #004279;}

[[setting:customcss]]
